DB_URL=jdbc:postgresql://<host>:<port>/<database>?sslmode=require&channelBinding=require
DB_USER=<username>
DB_PASSWORD=<password>
PORT=8080


LLM_BASE_URL=https://api.groq.com/openai/v1
LLM_API_KEY=<your_api_key>
LLM_MODEL=llama-3.3-70b-versatile